# STM32CubeIDE / Eclipse
.settings/
*.launch
.metadata/

# Build dirs
Debug/
Release/
build/

# Generated / misc
*.map
*.axf
*.out
*.o
*.d
*.elf
*.bin
*.hex
*.lst
*.log

# Segger / tools
JLinkLog.txt
