# STM32CubeIDE / build
Debug/
Release/
.build/
.settings/
*.launch
*.ioc-backup

# Compiled artifacts
*.o
*.d
*.map
*.elf
*.hex
*.bin
*.list

# Keil / misc
Objects/
Listings/
*.uvguix.*
*.uvoptx
*.uvprojx

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/
